@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: black;
  background-color: #292929;
}
.weather-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 500px;
  margin-top: 7%;
  margin-left: 25%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 8px #ccc;
}

.earth-icon {
  display: flex;
  justify-content: center;
  margin-top: -70px;
  width: 300px;
  height: 300px;
}
.earth-image {
  width: 30%;
}

.search-input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -70px;
  width: 100%;
}

.search-input {
  width: 70%;
  height: 40px;
  border-radius: 5px 0px 0px 5px !important;
  background-color: #e4e4e4;
}

.search-input :focus{
  outline: none;
}

.search-btn {
  border: 1px solid grey;
  border-radius: 0px 5px 5px 0px !important;
  background-color: #e4e4e4;
  width: 40px;
  height: 40px;
}

.search-btn :focus{
  outline: none;
}

.weather-data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}

.data-left,
.data-right {
  height: auto;
  width: 100%;
}
.data-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.left-img img {
  width: 5rem;
}
.data-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.data-right p {
  font-size: 1rem;
  font-weight: 600;
}
.data-right p span {
  font-weight: 400;
  font-size: 1rem;
  margin-left: 2rem;
}
.data-temp h2 {
  font-size: 1rem;
  font-weight: 800;
}
.data-main p {
  font-size: 1rem;
  font-weight: 600;
}
.data-city p {
  font-size: 1rem;
  font-weight: 600;

}
.error {
  text-align: center;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 400;
}

.spinner {
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spinner img {
  height: 4rem;
  width: 4rem;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
